<header class="jdm-header">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <img routerLink="/" src="../assets/img/logo-black.png" alt="logo" class="jdm-logo">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/offer_search" routerLinkActive="router-active">Oferty pracy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client_saerch" routerLinkActive="router-active">Profile pracodawców</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/obserwuj_oferty" routerLinkActive="router-active">Obserwuj oferty</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Twoje konto
          </a>
          <div class="dropdown-menu" aria-labelledby="accountMenuLink">
            <a class="dropdown-item" *ngIf='!isLogged' (click)="openLoginDialog('client')">Załóż profil pracodawcy</a>
            <a class="dropdown-item" *ngIf='!isLogged' (click)="openLoginDialog('artist')">Załóż profil muzyka</a>
            <a class="dropdown-item" *ngIf='isLogged' routerLink="/profile" routerLinkActive="router-active">Edytuj
              profil</a>
            <a class="dropdown-item" routerLink="/offer_creator" routerLinkActive="router-active">Dodaj ofertę</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf='!isLogged' (click)="openLoginDialog()">Zaloguj się</a>
            <a class="dropdown-item" *ngIf='isLogged' (click)="logout()">Wyloguj się</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<alert></alert>
<router-outlet></router-outlet>

<footer>
  <div class="jdm-container">
    <nav class="footer-nav">
      <div class="row">
        <div class="col-sm-4">
          <a href="">
            <img src="../assets/img/logo-black.png" alt="logo" class="jdm-logo">
          </a>
        </div>
        <div class="col-sm-8">
          <ul class="list-unstyled row">
            <li class="col-sm-4">
              <a class="footer-nav-list__link" rel="nofollow" href="https://bulldogjob.pl/about_us#the_best">Strona
                głowna</a>
            </li>
            <li class="col-sm-2">
              <a class="footer-nav-list__link" rel="nofollow" href="https://bulldogjob.pl/about_us">O nas</a>
            </li>
            <li class="col-sm-2">
              <a class="footer-nav-list__link" rel="nofollow" href="https://bulldogjob.pl/about_us#contact">Kontakt</a>
            </li>
            <li class="col-sm-4">
              <a class="footer-nav-list__link" rel="nofollow" href="https://bulldogjob.pl/privacy_policy">Polityka
                prywatności</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="footer-social">
      <div class="row">
        <div class="col-sm-4">
          Znajdź nas na:
          <a class="facebook-ico" target="_blank" href="https://www.facebook.com/maciek.bogdanski.3">
            <img src="../assets/img/icons/facebook-n.png" alt="fb">
          </a>
        </div>
        <div class="col-sm-8">
        </div>
      </div>
    </div>
  </div>
</footer>
