<app-simple-auth-form></app-simple-auth-form>
<div>
  <span>Dane do kontaktu</span>
  <form name="form" (ngSubmit)="f.form.valid && createArtist()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <input type="text" class="form-control" name="name" [(ngModel)]="simpleArtist.name" #name="ngModel"
             required placeholder="Imię" autocomplete="false"/>
      <div *ngIf="f.submitted && !name.valid" class="help-block">Imię jest wymagane</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !surname.valid }">
      <input type="text" class="form-control" name="surname" [(ngModel)]="simpleArtist.surname" #surname="ngModel"
             required placeholder="Nazwisko" autocomplete="false"/>
      <div *ngIf="f.submitted && !surname.valid" class="help-block">Nazwisko jest wymagane</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="surname" [(ngModel)]="simpleArtist.phone" #phone="ngModel"
             placeholder="Telefon" autocomplete="false"/>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Dodaj konto</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      Masz już konto? <button type="button" (click)="onLogin()" class="btn btn-link">Zaloguj się</button>
    </div>
  </form>
</div>
