<app-modal id="account-popup" width="400">
  <button class="exit-btn" type="button" (click)="cancel('account-popup')">X</button>
  <div [ngSwitch]="myFormKind">
    <div *ngSwitchCase="formKind.Login">
      <app-account-login (registerView)="onRegisterView()"></app-account-login>
    </div>

    <div *ngSwitchCase="formKind.Register">
      <div class="btn-group" role="group">
        <div>
          <button type="button" class="btn btn-info" [ngClass]="{'active': myRegisterKind==registerKind.Artist}"
                  (click)="selectRegisterKind(registerKind.Artist)">Konto artysty
          </button>
          <button type="button" class="btn btn-info" [ngClass]="{'active': myRegisterKind==registerKind.Client}"
                  (click)="selectRegisterKind(registerKind.Client)">Konto pracodawcy
          </button>
        </div>
      </div>
      <div [ngSwitch]="myRegisterKind">
        <app-artist-creator *ngSwitchCase="registerKind.Artist"
                            (loginView)="onLoginView()"
                            (artistCreated)="onArtistCreated($event)"></app-artist-creator>
        <app-client-creator *ngSwitchCase="registerKind.Client"
                            (loginView)="onLoginView()"
                            (clientCreated)="onClientCreated($event)"></app-client-creator>
      </div>
    </div>
  </div>
</app-modal>
